.custom-inner-tabs .ant-tabs-nav {
  margin-bottom: 20px !important;
}

.custom-inner-tabs .ant-tabs-tab {
  background: #ffffff !important;
  border-radius: 6px !important;
  border: 1px solid #d1d5db !important;
  padding: 6px 18px !important;
  margin-right: 12px !important;
}

.custom-inner-tabs .ant-tabs-tab-active {
  background: #1e3a8a !important; /* xanh đậm Figma */
  border-color: #1e3a8a !important;
}

.custom-inner-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  font-weight: 600 !important;
}

.custom-inner-tabs .ant-tabs-tab-btn {
  color: #374151 !important;
  font-weight: 500;
}

.custom-inner-tabs .ant-tabs-ink-bar {
  display: none !important;
}
